<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="SLF4J" />
    </settings>

    <!--
    在StudentMapper.xml中
        <select id="selectAllStudent" resultType="com.george.pojo.Student">
    可以替换为
        <select id="selectAll" resultType="student">
    -->
    <typeAliases>
    <package name="com.george.pojo"/>
    </typeAliases>

    <!-- 配置mybatis运行环境 -->
    <environments default="development">
        <environment id="development">
            <!-- 使用JDBC的事务管理 -->
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <!-- MySQL数据库驱动 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!-- 连接数据库的URL -->
                <property name="url"
                          value="jdbc:mysql://localhost:3306/mysqlbase?characterEncoding=utf8" />
                <property name="username" value="root" />
                <property name="password" value="@Poole0128" />
            </dataSource>
        </environment>
    </environments>



    <!-- 将mapper文件加入到配置文件中 -->
    <mappers>
        <!--加载sql映射文件-->
        <!--<mapper resource="com/george/mapper/StudentMapper.xml" />-->
        
        <!--Mapper代理方式-->
        <package name="com.george.mapper"/>
    </mappers>
</configuration>